<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例，计算属性简写</title>
    <script src="../js/vue.js"></script>
</head>

<body>

    <div id="root">
        姓：<input type="text" v-model="firstName"><br><br>
        名：<input type="text" v-model="lastName"><br><br>
        全名：<span>{{fullname}}</span>
    </div>
</body>
<script>
    const vm = new Vue({
        el: '#root',
        data: {
            firstName: '张',
            lastName: '三'
        },
        computed: {
            // 完整写法
            fullname: {
                get() {
                    let a = "";
                    setTimeout(function () {
                        a = this.firstName + '-' + this.lastName;
                    }, 1000);
                    return a;
                },
                set(value) {
                    const arr = value.split("-");
                    this.firstName = arr[0];
                    this.lastName = arr[1];
                }
            }

            // // 只读取的场景可以简写：
            // fullname() {
            //     return this.firstName + '-' + this.lastName;
            // }
        }
    })
</script>

</html>
